/**
 * Custom flavour
 * ==============
 */

body {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.reveal .slides {
    z-index: 3;
}

.reveal section img.no-styles {
    margin: 0;
    background: inherit;
    border: none;
    box-shadow: none;
}

.reveal h1 {
    text-shadow: #000 1px 1px 1px !important;
    font-size: 2em !important;
}

.reveal h2 {
    text-shadow: #000 1px 1px 1px !important;
}